#development {
  font-family: Century Gothic, sans-serif;
  border-collapse: collapse;
  width: 75%;
  text-align: center;

}

#development td, #development th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#development tr:nth-child(even){background-color: #f2f2f2;}

#development tr:hover {background-color: #ddd;}

#development th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}